*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Poppins', sans-serif;
    
}

.paragraph{
    color: rgba(39, 39, 39, 0.6);
    font-size: 0.7rem;
}

.primary-btn{
    padding: 0.4rem 1rem;
    border-radius: 5%;
    border: none;
    background-color: rgba(229, 84, 115, 1);
    cursor: pointer;
}
.banner-container{
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 100vh;
    background-size: cover;
}
.banner-container .banner-content h3{
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1rem;
    color: rgba(39, 39, 39, 1);
}
.banner-container .banner-content p{
    /* color: rgba(39, 39, 39, 0.6); */
    padding-bottom: 1rem;
    /* font-size: 0.7rem; */
}
.banner-container .banner-img img{
    padding-top: 4rem;
    height: 90vh;
}

.features .featured-text {
    text-align: center;
    padding-top: 3rem;
}

.features .featured-text h3{
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
    color: rgba(39, 39, 39, 1);
}
.featured-images{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}
.flower-item1{
    height: 350px;
    width: 300px;
    background-color:rgba(167, 33, 98, 0.15);
    border-radius: 50% 50% 0 0;
    margin: 0 0.5rem;
}

.flower-item1 img{
    padding-left: 2.5rem;
    padding-top: 4.3rem;
    height: 280px;
    width: 200px;
}
.flower-item2{
    height: 350px;
    width: 300px;
    background-color:rgba(5, 151, 160, 0.15);
    border-radius: 50% 50% 0 0;
}
.flower-item2 img{
    padding-left: 2.5rem;
    padding-top: 4.3rem;
    height: 280px;
    width: 200px;
}
.flower-item3{
    height: 350px;
    width: 300px;
    background-color:rgba(71, 125, 17, 0.15);
    border-radius: 50% 50% 0 0;
    margin: 0 0.5rem;
}
.flower-item3 img{
    padding-left: 2.5rem;
    padding-top: 4.3rem;
    height: 280px;
    width: 200px;
}
.flower-text{
    text-align: center;
    text-decoration: underline;
}
.offer{
    margin-top: 5rem;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;
    height: 50vh;
}
.text-color{
    color: rgba(229, 84, 115, 1);
}
.offer-text p{
    padding: 1rem 0;
}

.offer-image img{
    width: 40vh;
    height: 40vh;
}
.instagram-text{
    padding: 2rem 0rem;
    text-align: center;
}
.instagram-text h3{
    font-weight: 600;
    font-size: 1.5rem;
}
.instagram .insta-images{
    display: flex;
    justify-content: center;
}
.insata-image1 img{
    height: 40vh;
    width: 35vh;
    margin: 0.5rem;
    border-radius: 5%;
}
.insata-image2 img{
    height: 40vh;
    width: 35vh;
    margin: 0.5rem;
    border-radius: 5%;
}
.insata-image3 img{
    height: 40vh;
    width: 35vh;
    margin: 0.5rem;
    border-radius: 5%;
}
.insata-image4 img{
    height: 40vh;
    width: 35vh;
    margin: 0.5rem;
    border-radius: 5%;
}
.subscription{
    background-image: url(/images/Rectangle\ 9.png);
    min-height: 50vh;
    background-size: cover;
    margin: 5rem 180px;
    text-align: center;
}
.subscription .subscription-content{
    padding-top: 20vh;
}
.subscription .subscription-text h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.subscription .subscription-text p{
    margin-bottom: 0.5rem;
}
.subscription .input-mail{
    padding: 0.3rem 5rem 0.3rem 0.2rem;
    border: none;
}
.subscription button{
    margin: 0 0.5rem;
    cursor: pointer;
}
footer{
    background-color: rgba(17, 16, 16, 1);
    text-align: center;
    padding: 20vh 0;
    margin-top: 5rem;
}
.footre-content h3{
    color:rgba(255, 255, 255, 1);
    padding-bottom: 0.5rem;
}

.footre-content p{
    font-size: xx-small;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 0.5rem;
}
.footre-content .copy-right{
    color: copy-right;
}